<!DOCTYPE html>
<html lang="utf-8">
<head>
    <title>Add Game</title>
</head>
<body>

<h2>Add New Game</h2>

<form action="/game/add" method="post">

    <label>Game ID:
    <input type="number" name="gameId">
    </label>

    <label>Name:
    <input type="text" name="name">
    </label>

    <label>
    Subject:
    <input type="text" name="subject">
    </label>

    <label>
    Topic:
    <input type="text" name="topic">
    </label>

    <label>Difficulty:
    <input type="number" name="difficulty">
    </label>

    <label>Levels:
    <input type="number" name="levels">
    </label>

    <label>Rounds:
    <input type="number" name="rounds">
    </label>

    <label>
    Max Fails:
    <input type="number" name="maxFails">
    </label>

    <label>Available:
    <input type="checkbox" name="available" value="true">
    </label>

    <button type="submit">Add Game</button>

</form>

</body>
</html>