<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Reward</title>
</head>
<body>
<h1>Add Reward</h1>
<form action="/rewards/add" method="post">
    <label>
    Game ID:
    <input type="number" name="gameId">
    </label>
    <label>
    Player ID:
    <input type="number" name="playerId">
    </label>
    <label>
    Badges:
    <input type="number" name="badges">
    </label>
    <label>
    Bonus:
    <input type="number" name="bonus">
    <input type="submit" value="Submit">
    </label>
</form>
</body>
</html>