<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Player</title>
</head>
<body>
    <h1>Add a New Player</h1>

    <form action="/player/add" method="post">
        <label for="playerId">Player ID:</label>
        <input type="number" id="playerId" name="playerId" required>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required>

        <button type="submit">Add The Player</button>
    </form>

</body>
</html>