<!DOCTYPE html>
<html lang="en">
<head>
    <title>Games</title>
</head>
<body>

<h2>Games List</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Topic</th>
    </tr>

    {{#games}}
        <tr>
            <td>{{gameId}}</td>
            <td>{{name}}</td>
            <td>{{subject}}</td>
            <td>{{topic}}</td>
        </tr>
    {{/games}}

</table>

<a href="/game/add">Add New Game</a>

</body>
</html>